* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  font-family: monospace;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* nav */
nav {
  width: 100%;
  height: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 0px 10%;
  background: white;
}
nav .navlogo {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.navlogo img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
/* end of nav */

/* content */
.content {
  width: 100%;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.content header {
  font-weight: 900;
  font-size: 1.7rem;
  position: relative;
  width: fit-content;
}
.content header::after {
  content: "";
  width: 50%;
  height: 3px;
  background: cadetblue;
  position: absolute;
  top: 120%;
  left: 25%;
}
.card {
  padding: 1.5rem;
  max-width: 450px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(-0.5rem, 0.3rem);
  -webkit-transform: translate(-0.5rem, 0.3rem);
  -moz-transform: translate(-0.5rem, 0.3rem);
  -ms-transform: translate(-0.5rem, 0.3rem);
  -o-transform: translate(-0.5rem, 0.3rem);
}
.card .img {
  position: relative;
  background: cadetblue;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 150px;
  height: 150px;
}
.card .name {
  margin-top: 1rem;
  font-weight: 900;
}
.card .job {
  font-size: 1rem;
}
.card .info {
  font-size: 1.2rem;
  color: rgb(29, 77, 79);
}
.card .icons i {
  margin-top: 0.6rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}
.card .icons i:hover {
  font-weight: 900;
  color: cadetblue;
}
.card .btn {
  background: transparent;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border: 2px solid cadetblue;
  cursor: pointer;
  color: cadetblue;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.card .btn:hover {
  background: cadetblue;
  color: white;
}
/* end of content */
