* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

/* nav */
nav {
  width: 100%;
  height: 3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0% 10%;
  font-weight: 900;
}
nav img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
/* end of nav */

/* content */
.content {
  min-height: calc(100vh - 3rem);
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.content header {
  font-weight: 900;
  font-size: 2rem;
  width: fit-content;
  position: relative;
}
.content header::after {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  top: 120%;
  left: 25%;
  background: cadetblue;
}
.content .btns {
  text-align: center;
}
button {
  background: transparent;
  color: cadetblue;
  border: 2px solid cadetblue;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
button:hover {
  background: cadetblue;
  color: white;
}
.selected {
  background: cadetblue;
  color: white;
}
.content .items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 3rem;
}
.items .loading {
  border-right: 4px solid black;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: loading 0.1s infinite;
  -webkit-animation: loading 0.1s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
.items .item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 400px;
}
.items .item .img {
  width: 100%;
  height: 200px;
  border: 4px solid cadetblue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted cadetblue;
  padding-bottom: 0.7rem;
}
.name p {
  font-weight: 900;
  font-size: 1.1rem;
}
.name .price {
  color: cadetblue;
  font-size: 0.9rem;
}
.item .info {
  margin-top: 1rem;
  color: rgb(35, 35, 35);
  font-size: 1rem;
}
@media (min-width: 800px) {
  .items .item {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}
@media (min-width: 1100px) {
  .content .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* end of content */
